/*  your css code here. If applicable */
#container{
	margin: 20px;
	
}
#a::before{
	content:"Before Element";
	color: rgb(255, 0, 0);
	font-size:20px;
}
#a::after{
	content:"After Element";
	color:rgb(255, 0, 0);
	font-size:20px;
}